@font-face {
  font-family: 'GmarketSans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'GmarketSans', sans-serif;
}

@layer components {
  /* text-bold */
  .tb1 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[24px] font-bold md:text-[30px];
  }
  .tb2 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[18px] font-bold md:text-[20px];
  }
  .tb3 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[16px] font-bold md:text-[18px];
  }
  .tb4 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[14px] font-bold md:text-[16px];
  }
  .tb5 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[12px] font-bold md:text-[14px];
  }
  .tb6 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[10px] font-bold md:text-[12px];
  }
  .tb7 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[8px] font-bold md:text-[10px];
  }

  /* text-medium(normal) */
  .t1 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[18px] font-medium md:text-[20px];
  }
  .t2 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[16px] font-medium md:text-[18px];
  }
  .t3 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[14px] font-medium md:text-[16px];
  }
  .t4 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[12px] font-medium md:text-[14px];
  }
  .t5 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[10px] font-medium md:text-[12px];
  }
  .t6 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[8px] font-medium md:text-[10px];
  }

  /* text-light */
  .tl1 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[18px] font-light md:text-[20px];
  }
  .tl2 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[16px] font-light md:text-[18px];
  }
  .tl3 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[14px] font-light md:text-[16px];
  }
  .tl4 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[12px] font-light md:text-[14px];
  }
  .tl5 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[10px] font-light md:text-[12px];
  }
  .tl6 {
    font-family: 'GmarketSans', sans-serif;
    @apply text-[8px] font-light md:text-[10px];
  }
}
